.header {
    height: 10vh;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;

    .logo {
        color: #292929;
    }

    &__name {
        
        display: inline-block;
        margin-left: 10px;
        span {
            text-transform: uppercase;
            font-size: 2.4rem;
            line-height: 2.8;
            letter-spacing: 0.25px;
        }
    }
}


// position: absolute;
// height: 28px;
// left: 4.38%;
// right: 86.25%;
// top: calc(50% - 28px/2 + 1px);

// font-family: Roboto;
// font-style: normal;
// font-weight: normal;
// font-size: 24px;
// line-height: 28px;
// text-align: center;
// letter-spacing: 0.25px;

// color: #000000;