.menu {
    border-bottom: 1.5px solid $color-background;

    .menu-bar {
        display: flex;
        list-style: none;
        align-items: center;

        &__close {
            margin-left: auto;
        }

        &__item {
            &:not(:last-child) {
                margin-right: 2.5rem;
            }
        }

        &__link:link,
        &__link:visited
        {
            text-decoration: none;
            font-size: 1.6rem;
            line-height: 1.9rem;
            letter-spacing: 0.5px;
            color: $color-nav-text;
        }

        &__link:hover,
        &__link:focus,
        &__link--active {
            padding-bottom: 4px;
            color: $color-blue;
            border-bottom: 3px solid $color-blue;
        }
    }
}